
.hostelrow
{
  display: table;
  border-spacing: 100px;
 
}
#btn{
  background-color: #fa6847;

  padding: 10px 20px;
  font-family: 'Sintony', sans-serif;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: .02em;
  border-color: transparent;
  border-radius: 5px; transition: all .3s;font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
}
#btn:hover
{  background-color: #f75633;
  
}
.abouttxt
{
  font-family: Calibri;margin-top: 30px; font-size:25px; letter-spacing :2px; font-weight: bold;
}
.citytxtfooter{
  color: #324556; font-size:50px;letter-spacing: 4px;
}
.hostelstxtfooter{
  color: #f95f3c;letter-spacing: 4px;  font-size:50px
}
.liner{
width:150px; margin: auto; color: black; }
.txt{
  margin-top: 30px;
  margin-left: 100px;
  font-weight: bold;
  font-size: 60px;
  letter-spacing:5px;
  display: flex;
  justify-content: center;
  
}

.Hostelcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  display: table-cell;
 
}


.Aboutme {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  display: block;
 
}

.title {
  color: grey;
  font-size: 12px;
}

.contbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}



.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}

html
{
scroll-behavior: smooth;
}
body
{
margin: 0;
padding: 0;
  }
.navigation
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 

}
@media screen and (max-width: 100%) {
  .navigation a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  float: right;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
  }
}

.navbar1 {
  float: right;
 
}

.navbar1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  font-family: Calibri;
  font-size: 13px;
  font-weight: bold;
}

.navbar1 i{
  color: black;

}
.navbar1 a:hover:not(.active) {
  color: black;
 
}
.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

  @media screen and (max-width: 100%) {
  .top-nav a {
    float: left;
  color: black;
  width: auto;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
    position: relative;
  }
}
  .top-nav-right {
    float: none;
  }


.topnavbar {
  float: left;
}

.topnavbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: Calibri;
  font-weight: bold;
}
.topnavbar a:hover:not(.active) {
  background-color: white;
  color: black;
}

.topnavbar a:focus:not(.active)
{
  font-family: Arial bold;

}
.active
{
  background-color: black;
  color:white;
  border-radius: 10%;
}
.header {
  padding: 30px;
  text-align: center;
  background: white ;
  background-image:all;
  
}


  
.copy{
   color:White;
   background-color: #4e4f52;
   width:100%;
   height:90px;
   float:left;
   
  }
 .f-l{
   float:left;
   margin:10px 470px;
   
  }
.fa
  {
    color: white;
  }
.fa:hover
  {
    color:  black;
  }
  #fb:hover
  {
    color:#8b9dc3;
  }
  #google:hover
  {
    color: rgb(221, 75, 57);
  }
  #insta:hover
  {
  text-align: center;
  border-radius: 40px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  #youtube:hover
  {
    color: #c4302b;
  }
  .support
  {
    text-decoration:none;
    color: white;
  }